header nav a img{width: 119px;}

/*дети header'a должны стать строчно-блочными*/
header nav a img,
header nav ul li,
header nav ul li a{
    display: inline-block;}
/*nav должен стать flex-контейнером*/
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;}
/*Остальная часть стилизации*/
header{
    position: sticky;
    top: 0;
    z-index: 1;
    nav{
        background: #1B1B1B;
        height: 115px;
        ul{
            display: flex;
            li{
                a{
                    padding-left: 15px;
                    padding-right: 15px;
                    line-height: 115px;
                    text-decoration: none;
                    transition: all 0.25s ease;
                    &:hover{
                        background: #96ffbb62;
                    }
                }
            }
        }   
    }
}


        /* --- Адаптивный интерфейс --- */
@media (max-width:919px) {
    header{
        nav{
            ul{
                display: none;
                //  ¯\_( ͡° ͜ʖ ͡°)_/¯
            }
        }
    }
}