section{
    text-align: center;
    height: 100%;
    ul{
		list-style: none;
        li{
            margin-top: 15px;
            display: inline-block;
            background-color: #FFFFFF;
            border-radius: 2px;
            transition: all 0.25s ease; //длительность анимации
            a{
                font-family: "NotoSans-Regular";
                font-size: 32px;
                color: #282828;
                margin: 10px;}
        }

        //добавление анимаций на кнопки
        li:hover, a:hover{
            color: #FFFFFF;
            background-color: #1B1B1B;
        }
    }
}

.section1{
    background:url(/src/img/section1.png);
    background-size: cover;
    background-position: bottom 30% center;
    padding-top: 127px;
    padding-bottom: 139px;
    img{
        width: 649px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
    p{
        margin-top: 15px;
        margin-left: 30%;
        margin-right: 30%;
        text-shadow: 0.5px 1.5px 1px rgba(0, 0, 0, 0.80);}
}
.section2{
    background:url(/src/img/section2.png);
    background-size: cover;
    background-position: bottom 30% center;
    padding-top: 237px;
    padding-bottom: 258px;
    h2{font-size: 82px;}
    h3{font-size: 42px;}
    p{
        margin-left: 28%;
        margin-right: 28%;
        margin-top: 35px;}
}
.section3{
    background:url(/src/img/section3.png);
    background-size: cover;
    background-position: bottom 30% center;
    padding-top: 216px;
    padding-bottom: 179px;
    img{width: 650px;}
    p{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 35px;}
}
.section4{
    background:url(/src/img/section4.png);
    background-size: cover;
    background-position: bottom 30% center;
    padding-top: 151px;
    padding-bottom: 252px;
    h2{font-size: 82px;}
    h3{font-size: 32px;}
    p{
        margin-left: 16%;
        margin-right: 17%;
        margin-top: 70px;}
}


/* --- Адаптивный интерфейс --- */
@media (max-width:908px) {
    main{
        .section1{
            img{width: 324px;}
            p{
                margin-left: 30px;
                margin-right: 30px;}
        }
        .section2{
            h2{font-size: 41px;}
            h3{font-size: 21px;}
            p{
                margin-left: 30px;
                margin-right: 30px;}
        }
        .section3{
            img {width: 276px;}
            p{
                margin-left: 30px;
                margin-right: 30px;}
        }
        .section4{
            h2{font-size: 41px;}
            h3{font-size: 16px;}
            p{
                margin-left: 30px;
                margin-right: 30px;}
        }
    }
}