        /* --- Обнуление стилей, отступов --- */
*{
    margin: 0;
    padding: 0;
    border: 0;}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;}



        /* ---- Шапка ---- */

header nav a img{width: 119px;}

/*дети header'a должны стать строчно-блочными*/
header nav a img,
header nav ul li,
header nav ul li a{
    display: inline-block;}

/*header должен стать flex-контейнером*/
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;}
        
/*Остальная часть стилизации*/
header{
    position: sticky;
    top: 0;
    z-index: 1;}
header nav{
    background: #1B1B1B;
    height: 115px;
    /* padding: 0 200px 0 200px;*/} 
header nav ul li a{
    line-height: 115px;
    text-decoration: none;}
header nav ul li:not(:last-child) a{
    margin-right: 30px;}



/*Адаптив для мобильных устройств*/
@media (max-width:1369px) {

}

